body {
    background-color: darkslategrey;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  
  #frase {
    font-size: 70px;
    border-right: solid white 4px;
    height: 75px;
    animation: piscar 1s linear infinite;
  }

  @keyframes piscar{
    50%{
        border-color: transparent;
    }
  }